@import url(https://fonts.googleapis.com/css?family=Akronim);

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Variables */
:root {
  --black-alpha: rgba(0, 0, 0, alpha);
  --white-alpha: rgba(255, 255, 255, alpha);
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("/bi.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  position: relative;
} /* Add these styles to your styles.css file or a <style> tag in your component */
.custom-scrollbar {
  /* Hide the scrollbar by default */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.custom-scrollbar:hover,
.custom-scrollbar:active,
.custom-scrollbar:focus {
  /* Show the scrollbar when the element is hovered, focused, or during active scrolling */
  scrollbar-width: auto; /* For Firefox */
  -ms-overflow-style: auto; /* For Internet Explorer and Edge */
}

/* Specifically targeting the horizontal scrollbar */
.custom-scrollbar:hover::-webkit-scrollbar,
.custom-scrollbar:active::-webkit-scrollbar,
.custom-scrollbar:focus::-webkit-scrollbar {
  display: block;
  width: 5px;
  height: 2px; /* Adjust the height for horizontal scrollbar */
}

.custom-scrollbar:hover::-webkit-scrollbar-track,
.custom-scrollbar:active::-webkit-scrollbar-track,
.custom-scrollbar:focus::-webkit-scrollbar-track {
  background: transparent;
  width: 1px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb,
.custom-scrollbar:active::-webkit-scrollbar-thumb,
.custom-scrollbar:focus::-webkit-scrollbar-thumb {
  background-color: #050505;
  border-radius: 6px;
  border: 1px solid #0000000a;
}
.message {
  display: flex;
  max-width: 70%;
  gap: 20px;
  /* align-items: center; */
}

/* .message-with-avatar img {
  width: 30px;
  height: 30px;
  object-fit: cover;
} */

.message-own {
  display: flex;
  max-width: 70%;
  align-self: flex-end;
}
.message-own p {
  background-color: #5183fe;
}
span {
  display: inline;
}

/* .logo {
  min-height: 350px;
  height: 100vh;
  position: relative;
  background-color: #222;
} */

.fire {
  /* margin: 50px auto; */
  width: 80%;
  max-width: 1000px;
  height: 200px;
  position: absolute;
  left: 0;

  background-position: center center;
  background-size: 1000px 200px;
  border-radius: 10px;
  font-family: "Akronim";
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.fire:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Blazing {
  display: inline-block;
  margin: 0;
  color: rgb(255, 115, 0);
  font-size: 50px;
  line-height: 50px;
  min-width: 50px;
  outline: none;
  vertical-align: middle;
  text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange,
    4px -5px 6px yellow, -4px -10px 10px yellow, 0 -10px 30px yellow;
  animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
  0% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow,
      0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
  }
  25% {
    text-shadow: 0 3px 20px red, 0 0 30px red, 0 0 20px orange, 0 0 5px yellow,
      -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow;
  }
  50% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5);
  }
  75% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      3px -5px 5px yellow, -4px -10px 10px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5), 0px -25px 40px rgba(255, 255, 0, 0);
  }
  100% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow,
      0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
  }
}

/*  */
.ten {
  position: absolute;
  left: 15%;
  top: 10%;
}

.ten::before,
.ten::after {
  display: block;
  content: "";
  position: absolute;
}

@media (max-width: 400px) {
  div:not(.no-scale) {
    transform: scale(0.8);
  }
}

/* Specific styles for #ten */
#ten {
  box-sizing: border-box;

  width: 20%;
  height: 14%; /* Assuming @width is defined elsewhere */
  margin-left: calc(- (100px / 2));
  margin-top: calc(- (100px / 2));
  background-repeat: no-repeat;
  border-radius: 1em;
  border: 0.15em solid var(--white-alpha);
  box-shadow: inset 0 0 0 0.2em tomato, inset 0 0 1em 0.3em tomato,
    inset 1em 1em 0.4em var(--black-alpha), 0 0 0 0.2em tomato,
    0 0 1em 0.3em tomato, 1em 1em 0.4em var(--black-alpha);
}

/* #ten::before {
  content: "C";
  width: 0.15em;
  height: 8em;
  left: 28%;
  top: 50%;
  margin-top: calc(- (100px / 2));
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 0 0 0.2em tomato, 0 0 1em 0.3em tomato,
    1em 1em 0.4em 0.2em var(--black-alpha);
}

#ten::after {
  box-sizing: border-box;
  width: 4em;
  height: 8.2em;
  left: 48%;
  top: 50%;
  margin-top: calc(- (100px / 2 + 0.1em));
  border-radius: 2em;
  border: 0.15em solid var(--white-alpha);
  box-shadow: inset 0 0 0 0.2em tomato, inset 0 0 1em 0.3em tomato,
    inset 1em 1em 0.4em var(--black-alpha), 0 0 0 0.2em tomato,
    0 0 1em 0.3em tomato, 1em 1em 0.4em var(--black-alpha);
} */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
